<tr>
  <th scope="row"><%= customer.customer_no %></th>
  <td><%= customer.name %></td>
  <td class="d-none d-md-table-cell"><%= customer.city %></td>
  <td class="d-none d-md-table-cell"><%= customer.contact %></td>
  <td class="d-none d-lg-table-cell"><%= customer.delivery_date %></td>
  <td>
    <%= link_to customer, class: "btn btn-primary btn-sm" do %>
      <i class="bi bi-eye-fill"></i><span class="d-none d-xl-inline ms-1">ગ્રાહકની માહિતી જુઓ</span>
    <% end %>
  </td>
  <td>
    <%= link_to edit_customer_path(customer), class: "btn btn-secondary btn-sm" do %>
      <i class="bi bi-pencil-fill"></i><span class="d-none d-xl-inline ms-1">ગ્રાહકમાં ફેરફાર કરો</span>
    <% end %>
  </td>
  <td>
    <%= button_to customer, method: :delete, class: "btn btn-danger btn-sm" do %>
      <i class="bi bi-trash-fill"></i><span class="d-none d-xl-inline ms-1">ગ્રાહકને દૂર કરો</span>
    <% end %>
  </td>
</tr>