<tr>
  <th scope="row"><%= customer.id %></th>
  <td><%= customer.name %></td>
  <td><%= customer.city %></td>
  <td><%= customer.contact %></td>
  <td><%= customer.delivery_date %></td>
  <td><%= link_to "ગ્રાહકની માહિતી જુઓ", customer, class: "btn btn-outline-primary" %></td>
  <td><%= link_to "ગ્રાહકમાં ફેરફાર કરો", edit_customer_path(customer), class: "btn btn-outline-secondary" %></td>
  <td><%= button_to "ગ્રાહકને દૂર કરો", customer, method: :delete, class: "btn btn-outline-danger" %></td>
</tr>