<div class="row pagetitle">
  <div class="col-lg-6">
    <h1>ગ્રાહકોની યાદી</h1>
  </div>
  <div class="col-lg-3 justify-content-end">
    <%= form_tag root_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control me-2", type: "search", placeholder: "નામ અથવા ગામ અથવા મોબાઇલ નંબર દ્વારા શોધો.", "aria-label": "Search"  %>
      <%= submit_tag "શોધો", class: "btn btn-outline-success", type: "submit" %>
    <%end%>
  </div>
  <div class="col-lg-3 justify-content-end">
    <%= link_to "નવા ગ્રાહક ઉમેરો", new_customer_path, class: "btn btn-primary" %>
  </div>
</div><!-- End Page Title -->

<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body table-responsive">

          <!-- Default Table -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ગ્રાહક#</th>
                <th scope="col">નામ</th>
                <th scope="col">ગામ</th>
                <th scope="col">મોબાઇલ નંબર</th>
                <th scope="col">ડિલિવરી તારીખ</th>
                <th scope="col" colspan="3">ગ્રાહકની ક્રિયાઓ</th>
              </tr>
            </thead>
            <tbody>
              <%if @customers.length > 0 %>
                <% @customers.each do |customer| %>
                  <%= render customer %>
                <% end %>
              <% else %>
                  <tr>
                    <td>
                      <div class="alert alert-danger">
                        કોઈ ગ્રાહકની માહિતી મળી નથી.
                      </div>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
          <!-- End Default Table Example -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="col-lg-12 custom-page">
  <%= paginate @customers %>
</div>
