
<div class="row pagetitle">
  <div class="col-lg-6">
    <h1>ગ્રાહકની માહિતી</h1>
  </div>
  <div class="col-lg-6 justify-content-end">
    <%= link_to 'પ્રિન્ટ કરો', '#', :onclick => "window.print();return false;", class: "btn btn-primary" %>
  </div>
</div>

<section class="section">
  <div class="row">
      <div class="col-lg-12  mt-2">
        <div class="card">
          <div class="row card-body">
            <h5 class="card-title">ગ્રાહકની વિગતો</h5>
            <div class="col">
              <b><%= "ગ્રાહક#" %></b> <br> <%= @customer.id %>
            </div>
            <div class="col">
              <b>નામ:</b> <br> <%= @customer.name %>
            </div>
            <div class="col">
              <b>ગામ:</b> <br> <%= @customer.city %>
            </div>
            <div class="col">
              <b>મોબાઇલ નંબર:</b> <br> <%= @customer.contact %>
            </div>
            <div class="col">
              <b>ડિલિવરી તારીખ:</b> <br> <%= @customer.delivery_date %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12 mt-2">
        <div class="card">
          <div class="row card-body">
            <h5 class="card-title">પેન્ટની વિગતો</h5>
            <div class="col">
              <b>લંબાઈ:</b> <br> <%= @customer.pant_lambai %>
            </div>
            <div class="col">
              <b>મોરી:</b> <br> <%= @customer.pant_mori %>
            </div>
            <div class="col">
              <b>કમર:</b> <br> <%= @customer.pant_kamar %>
            </div>
            <div class="col">
            <b>સીટ:</b> <br> <%= @customer.pant_seat %>
            </div>
            <div class="col">
              <b>જાંગ:</b> <br> <%= @customer.pant_jang %>
            </div>
            <div class="col">
              <b>જોરો:</b> <br> <%= @customer.pant_joro %>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12 mt-2">
        <div class="card">
          <div class="row card-body">
            <h5 class="card-title">શર્ટની વિગતો</h5>
            <div class="col">
              <b>કોલર:</b> <br> <%= @customer.shirt_kolar %>
            </div>
            <div class="col">
              <b>લંબાઈ:</b> <br> <%= @customer.shirt_lambai %>
            </div>
            <div class="col">
              <b>શોલ્ડર:</b> <br> <%= @customer.shirt_shoulder %>
            </div>
            <div class="col">
              <b>બાય:</b> <br> <%= @customer.shirt_baay %>
            </div>
            <div class="col">
              <b>છાતી:</b> <br> <%= @customer.shirt_chhati %>
            </div>
            <div class="col">
              <b>કમર:</b> <br> <%= @customer.shirt_kamar %>
            </div>
            <div class="col">
              <b>સીટ:</b> <br> <%= @customer.shirt_seat %>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-12 mt-2">
        <div class="card">
          <div class="row card-body">
            <h5 class="card-title">નોંધ</h5>
            <div class="col p-2">
              <%= @customer.notes %>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>


<div class="row mt-2">
  <div class="col-lg-6">
    <%= link_to "ગ્રાહકમાં ફેરફાર કરો", edit_customer_path(@customer), class: "btn btn-outline-primary m-1" %> 
    <%= link_to "<<< ગ્રાહકોની સૂચિ પર પાછા ફરો", customers_path, class: "btn btn-outline-primary m-1" %>
  </div>
  <div class="col-lg-6">
    <%= button_to "ગ્રાહકને દૂર કરો", @customer, method: :delete, class: "btn btn-outline-danger m-1" %>
  </div>
</div>
